header{
    background-color:#315496;
    font-family:Arial;
    color:white;
    font-size: 35px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 20px;
    
}
img {
    padding-left: 20px;
   
    width: 50px;
    height: 50px;
}
.menu-nav{
    color:white;
    font-size:19px;
    padding-left:850px;
}
th{
    font-size: 23px;
}
.cart-nav{
    color:white;
    font-size:19px;
    padding-left:100px;
}
nav
{
    float:right;
}
.col1 {
    text-align: left;
   
           
}
.col2 {
    text-align: right;
    
            
}
#menu-title{
	font-family:Arial;
	margin-left: 6%;
	margin-top: 5%;
}
#menu {
	text-align: center;
	border-spacing: 12px;
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}
#cart-menu {
	border-spacing: 12px;
	width: 40%;
	margin-left: 20%;
}
#form-table th{
	text-align: left;
}
#form-table {
	border-spacing: 15px;
	margin-left:300px;
}
input[type="text"]{
    width:100%;
}
.grey_font {
	color: grey;
	font-weight: bold;
	font-size: 18px;
}
.submitButton{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.notification {
	color: mediumseagreen;
	font-weight: bold;
	font-size: 20px;
	margin-left: 20%;
	margin-top: 2%;
}
.cart_notification {
	text-align: center;
	color: mediumseagreen;
	font-weight: bold;
	font-size: 20px;
}
.remove-notification {
	margin-left: 30%;
	color: mediumseagreen;
	font-weight: bold;
	font-size: 20px;
}
.empty-notification {
	color: grey;
	margin-left: 21%;
	font-weight: bold;
	font-size: 20px;
}
.h2{
    font-family:Arial;
}
footer{
    background-color:lightgrey;
    font-family:Arial;
    padding-top: 25px;
    padding-bottom: 30px;
    position : absolute;
    bottom:0;
    width:100%;
    padding-left : 20px;
}
