 h1{
      
    /* Wrtie code for css values here */      
      text-align: center;
      color:#FF00FF;
      font-style: italic;
 }

 table{
  text-align: left;
  margin-left: 35%;
  background-color: #F0F0F0;
     /* Wrtie code for css values here */ 
     

 }
 
 td{
     text-align: center;
     /* Wrtie code for css values here */ 
 
 }
 
 caption {
 	text-align: left;
 	font-weight: bold;
 	 /* Wrtie code for css values here */ 
 	
 	
 }
 
 
 .theader {
 	background-color: #800000;
 	color:white;
 	 /* Wrtie code for css values here */ 
 	
 }
 
 .tr1{
     background-color: #ff0080;
 	 /* Wrtie code for css values here */ 
 
     
 }
 
 .tr2{
     background-color: cyan;
 	 /* Wrtie code for css values here */ 
 
     
 }
 
 #ex1, #vg1{
     background-color: lime;
 	 /* Wrtie code for css values here */ 
 
     
 }
 
 #go1{
     background-color: yellow;
     /* Wrtie code for css values here */ 
 
     
 }
 
 #av1{
     background-color:LightGray; 
     color: white;
 	 /* Wrtie code for css values here */ 
 
     
 }
 
  #ba1{
      background-color: red;
      color: white;
    /* Wrtie code for css values here */ 
      
  }

 